@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}
:root {
  --primory-color: #7d87f9;
  --primory-hover-color: #6572ff;
  --secondry-color: #121117;
  --text-color: #ffffff;
  --secondry-font-family: "Poppins", sans-serif;
}
body {
  color: var(--secondry-color);
  font-family: var(--secondry-font-family);
}

a {
  text-decoration: none !important;
}

.button-btn {
  background-color: var(--primory-color);
  color: var(--text-color);
  border-radius: 5px;
  box-shadow: 0 10px 20px -10px rgba(125, 135, 249, 1);
  padding: 10px 30px !important;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}
.button-btn:hover {
  background-color: var(--primory-hover-color);
  color: var(--text-color);
  box-shadow: 0 10px 20px -10px rgba(24, 39, 210, 0.8);
}
/* navbar */

.main-menu-search a {
  display: block;
  width: 53px;
  height: 43px;
  text-align: center;
  line-height: 43px;
  background: var(--primory-color);
  border-radius: 5px;
  color: var(--primory-color);
}
.main-menu-search form button i {
  color: var(--primory-color);
  background-color: #7d87f9;
}

#menu {
  width: 35px;
  height: 30px;
  margin: 30px 0 20px 20px;
  cursor: pointer;
  z-index: 100;
}
.bar {
  height: 4px;
  width: 100%;
  background-color: var(--primory-color);
  display: block;
  border-radius: 5px;
  transition: 0.3s ease;
}
#bar1 {
  transform: translateY(-4px);
  width: 80%;
}
#bar3 {
  transform: translateY(4px);
  width: 50%;
}
.nav li a {
  color: var(--text-color);
  text-decoration: none;
  padding: 6px 30px;
  font-size: 18px;
  transition: all 0.5s ease;
}
.nav li a:hover {
  color: var(--primory-color);
}
.nav li {
  list-style: none;
  padding: 5px 0;
}
.nav {
  padding: 0;
  margin: 0 20px;
  transition: 1s ease;
  display: none;
}
.icon .bar {
  background-color: var(--primory-color);
}
.icon #bar1 {
  transform: translateY(4px) rotate(-45deg);
  width: 100%;
}
.icon #bar3 {
  transform: translateY(-6px) rotate(45deg);
  width: 100%;
}
.icon #bar2 {
  opacity: 0;
}
.change {
  background-color: var(--secondry-color);
  height: 100vh;
  margin: 0;
  position: absolute;
  font-size: 30px;
  top: 0;
  z-index: -100;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div#navigation {
  z-index: 9999;
}

/* header-slider */
#countdown ul {
  padding: 0;
}
#countdown li {
  display: inline-block;
  font-size: 12px;
  list-style-type: none;
  padding: 6px;
  text-transform: uppercase;
  color: var(--secondry-color);
}
#countdown li:first-child {
  display: none;
}
#countdown li span {
  display: block;
  font-size: 20px;
  color: var(--primory-color);
  font-weight: 600;
}
.main-slider-img {
  padding: 100px 0;
}
.card.nft-card {
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0px 15px 30px -10px rgba(125, 135, 249, 0.5);
  border: none;
}
.main-slider-img .card {
  width: 230px;
  margin: auto;
}
.card.nft-card .card-body h5.card-title {
  font-size: 20px;
  font-weight: 600;
  color: var(--secondry-color);
}
.card.nft-card p.card-text {
  font-size: 20px;
  font-weight: 600;
  color: var(--secondry-color);
}
.card.nft-card p.card-text i {
  color: var(--primory-color);
  padding-left: 10px;
}
.main-slider-cantant h1 {
  font-size: 75px;
  font-weight: 700;
  color: var(--secondry-color);
}
.main-slider-cantant h1 span {
  font-weight: 900;
  color: var(--primory-color);
}
.main-slider-cantant p {
  font-weight: 400;
  font-size: 18px;
  padding: 20px 0;
  color: var(--secondry-color);
}
.slick-dots li button:before {
  font-size: 30px;
}

/* how it works  */
.main-sub-title .sub-title h5 {
  font-size: 20px;
  font-weight: 300;
  color: var(--primory-color);
  position: relative;
  display: inline-block;
}
.main-sub-title .sub-title h5::after,
.main-sub-title .sub-title h5::before {
  position: absolute;
  content: "";
  width: 100px;
  height: 2px;
  background-color: var(--primory-color);
  top: 50%;
  right: -110px;
}
.main-sub-title .sub-title h5::before {
  left: -110px;
}
.main-title h2 {
  font-size: 40px;
  font-weight: 600;
  padding-top: 25px;
}
.card-icon .icon-bg {
  display: inline-block;
  z-index: 2;
  position: relative;
}
.card-icon {
  position: relative;
}
.card-icon:after,
.card-icon::before {
  position: absolute;
  content: "";
  width: 70px;
  height: 70px;
  background-color: var(--primory-color);
  z-index: 1;
  bottom: 0;
  left: -50px;
  right: 0;
  margin: 0 auto;
  border-radius: 20px 50px;
  opacity: 0.3;
}
.card-icon::before {
  background-color: var(--secondry-color);
  top: 0;
  left: 0;
  right: -50px;
  border-radius: 50px;
  opacity: 0.1;
}
.card-verified-steps h5 {
  font-weight: 700;
  font-size: 22px;
  color: var(--secondry-color);
}
.card-verified {
  padding: 20px;
  border-radius: 30px;
  transition: all 0.5s;
}
.card-verified:hover {
  box-shadow: 0px 15px 30px -5px rgba(125, 135, 249, 0.5);
}
.card-verified-steps p {
  font-weight: 400;
  font-size: 16px;
  color: var(--secondry-color);
}
